body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    min-width: 275px;
}
.col1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.col1 .num2, .num3, .num4 {
    color: #999;
    border: 3px solid #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all .5s;
}
.num1 {
    border: 3px solid #3498db;
    color: #999;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all .5s;
}
.col2 {
    text-align: center;
    margin: 10px 0;
}
.col2 button {
    margin: 2px 5px;
    background-color: #3498db;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    outline: none;
}

.progress {
    width: 46px;
    height: 4px;
    background: #e0e0e0;
    position: relative;
    transition: all .5s;
}
.progress1 {
    top: -92px;
    left: 34.6px;
}
.progress2 {
    top: -96px;
    left: 114.6px;
}
.progress3 {
    top: -100px;
    left: 194.6px;
}
